<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css" th:href="@{/lib/editormd/css/editormd.min.css}">
    <link rel="stylesheet" href="../static/css/index.css" th:href="@{/css/index.css}">
    <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}">

    <title th:replace="${title}">码农博客 - 博客详情</title>
</head>
<body>
    <!-- 导航部分 -->
    <nav th:fragment="menu(index)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <a href="index.html" th:href="@{/}"><h3 class="ui header item logo"><img src="../static/images/logo.png" th:src="@{/images/logo.png}" alt="">后台管理</h3></a>
                <a href="#" th:href="@{/admin/blogs}" class="m-item item m-mobile-hide" th:classappend="${index == 1} ? 'active'"><i class="home icon"></i>博客</a>
                <a href="#" th:href="@{/admin/types}" class="m-item item m-mobile-hide" th:classappend="${index == 2} ? 'active'"><i class="idea icon"></i>分类</a>
                <a href="#" th:href="@{/admin/tags}" class="m-item item m-mobile-hide" th:classappend="${index == 3} ? 'active'"><i class="tags icon"></i>标签</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown item">
                        <div class="text">
                            <img class="ui avatar image" src="https://picsum.photos/id/1005/100/100" th:src="@{${session.user.avatar}}">
                            <span th:text="${session.user.nickName}">孙飞</span>
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px">
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                    <div id="newblog-container"></div>
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" th:href="@{/blogDetail/{uuid}(uuid=${blog.uuid})}" target="_blank" class="item"
                           th:each="blog : ${newblogs}" th:text="${blog.title}" >用户故事（User Story）</a>
                        <!--/*-->
                        <a href="#" class="item">用户故事（User Story）</a>
                        <a href="#" class="item">用户故事（User Story）</a>
                        <!--*/-->
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
                    <div class="ui inverted link list">
                        <p class="m-text-thin m-opacity-tiny ">Email：939763776@qq.com</p>
                        <p class="m-text-thin m-opacity-tiny ">QQ：939763776</p>
                        <p class="m-text-thin m-opacity-tiny ">微信：森有暖树</p>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">Blog</h4>
                    <p class="m-text-thin m-opacity-tiny m-text-spaced">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <div class="m-text-lined m-text-thin m-opacity-mini m-text-spaced" id="elapseClock"></div>
            <p class="m-text-thin m-opacity-mini m-text-spaced">&copy; 2020-2021 程序猿孙逗比 - <i class="coffee icon" style="margin: 0 5px"></i>孙飞 版权所有 | 网站备案号：
                <a href="http://beian.miit.gov.cn" target="_blank">蜀ICP备20008733号-1</a></p>
            <div></div>
        </div>
    </footer>
    <th:block th:fragment="script">
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
        <script src="../../static/js/line.js" th:src="@{/js/line.js}"></script>
        <script src="../../static/js/index.js" th:src="@{/js/index.js}"></script>
        <script src="../../static/lib/editormd/editormd.min.js" th:src="@{/lib/editormd/editormd.min.js}"></script>
        <script>
            $("#newblog-container").load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
            var together = new Date();
            together.setFullYear(2020,0o1,0o1);
            together.setHours(0);
            together.setMinutes(0);
            together.setSeconds(0);
            together.setMilliseconds(0);
            timeElapse(together);
            setInterval(function () {
                timeElapse(together);
            }, 500);
        </script>
    </th:block>
</body>
</html>